<html>
    <head>
        <title>BE Project</title>

        <link href="/assets/styles.css" rel="stylesheet" type="text/css" media=screen />
        <script
            src="https://code.jquery.com/jquery-3.1.1.js"
            integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
            crossorigin="anonymous">
        </script>


    </head>
<body>
<h1>Smart Water Usage using IoT</h1>
<div class="login-page">
    <div class="form">
        <form class="login-form" id="login_form" action="/userLogin" method="post">
            <input type="text" name="username" placeholder="Username" required>
            <br><input name="password" type="password" placeholder="Password" required>
            <br><button type="submit">login</button>
        </form>
    </div>
</div>
</body>
</html>